
/*General css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FAFAFA;
}

/* review css*/
h4 h5 {
  width: 100%;
}

.box{
  display: block;
  margin-left:auto;
  margin-right: auto;
}

.font-m {
  font-size: 2rem;
}

.rating-d {
  margin-left: 5%;
  width: 20%;
  float: left;
}

.rating-de {
  margin-left: 5%;
  width: 20%;
}

.rating-m {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  margin-top: 10px;
}

.separador{
  margin-bottom: 5px;
}

.rating-v {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.text-field {
  width: 100%;
}

.titulo{
  color: #8889E5;
}

.titulo2{
  color: #0C0C34;
}

.titulo3{
  color: #6934FF;
}

.subtitle{
  color: #7A7A7A;
}

.container {
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  border-color: #8889E5;
}

.boton{
  margin: auto;
}